@model WebAppMvc.Models.DetailsViewModel;
@{
    ViewData["Title"] = "Product Details";
}

<div class="container mt-5">
    <!-- Product Image -->
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-center align-items-center" style="height: 500px;">
            @if (Model != null){
                <img src="@Model.productDTO.ImageUrl" class="img-fluid rounded" alt="@Model.productDTO.Name" style="object-fit: contain; max-height: 100%; max-width: 100%;">
            }
        </div>
    </div>

    <!-- Product Details -->
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    @if(Model != null){

                              <h1 class="card-title text-center">@Model.productDTO.Name</h1>
                    <h5 class="card-title text-center">@String.Format("€ {0:0.00}", Model.productDTO.Price / 100.0)</h5>

                    <p class="card-text text-muted text-center mb-4">@Model.productDTO.Description</p>

                    <div class="d-flex justify-content-between align-items-center">
                        <a asp-action="Index" class="btn btn-secondary">Terug</a>

                        @if (Model.LoggedInUser != null && Model.LoggedInUser.IsAdmin())
                        {
                            <div class="d-flex justify-content-evenly col-4">
                                <a class="btn btn-primary col-4" asp-action="Edit" asp-route-id="@Model.productDTO.Id"><i class="fa fa-edit"></i></a>
                                <form method="post" class="col-4" asp-action="Delete" asp-route-id="@Model.productDTO.Id">
                                    <button type="submit" class="btn btn-danger w-100"><i class="fa fa-trash"></i></button>
                                </form>
                                
                            </div>
                            

                            
                        }else
                        {
                            <form method="post">
                                <button type="submit" class="btn btn-primary">Voeg toe aan winkelwagentje</button>
                            </form>

                        }

                        
                    </div>
                        
                    }
              
                </div>
            </div>
        </div>
    </div>
</div>
